.embla {
  overflow-x: hidden;
  width: 100%;
  min-height: 600px;
}
.embla__container {
  display: flex;
  width: 100%;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.embla__viewport {
  width: 100%;
}
